"*":
  core:
    disabledPackages: [
      "welcome"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "inconsolata"
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
  "elm-format": {}
  "exception-reporting":
    userId: "64af57f1-afc2-8123-6c2d-b4d1345f21f6"
  "terminal-plus":
    ansiColors:
      zBright:
        brightBlue: "#268bd2"
        brightCyan: "#2aa198"
        brightGreen: "#859900"
        brightRed: "#dc322f"
        brightYellow: "#b58900"
    style:
      fontAntialiasing: "Default"
      fontFamily: "inconsolata"
      theme: "solarized-light"
  whitespace:
    ensureSingleTrailingNewline: false
".elm.source":
  editor:
    preferredLineLength: 300
    tabLength: 4
